# NOTE: Replace REDIS_LOGIN and REDIS_PWD with values from .env
apiVersion: v1
kind: Secret
metadata:
  name: redis-cluster
type: opaque
stringData:
  username: ${REDIS_LOGIN}
  password: ${REDIS_PWD}
---
apiVersion: app.redislabs.com/v1
kind: RedisEnterpriseCluster
metadata:
  name: redis-cluster
  namespace: redis-enterprise-namespace
spec:
  # Add fields here
  nodes: 3
  persistentSpec:
    enabled: true
  uiServiceType: LoadBalancer
  username: ${REDIS_LOGIN}
  servicesRiggerSpec:
    databaseServiceType: load_balancer,cluster_ip,headless